.master{
    align-items: flex-start !important;
}

#mastertab{
    cursor: pointer;
}

.masterlist{
    display: flex;
    flex-direction: column;
}
/* .master>i{
    margin-top: 5px !important;
} */

#caret-down{
    margin-left: 6px;
}

.dropdown-btn{
    /* padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none; */

    display: block;
    text-align: left;
    outline: none;
    background: none;
    width: 100%;
}

.dropdown-container{
    /* display: none; */
    position: relative;
    list-style:circle;
    /* z-index: 10; */
    padding-left: 10px;
    transition: all 0.5s;
}

.dropdown-container>li{
    margin-top: 20px;
    font-size: 16px;
}

/* aside>footer{
    align-self: flex-end;
} */