table {
  border-collapse: collapse;
  margin-top: 16px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.mybtn {
  margin-top: 16px;
  margin-right: 200px;
  background-color: green;
  color: white;
  border: none;
  margin-left: 300px;
  cursor: pointer;
}
